<form method="post" action="/post" class="center" style="text-align:center;">
<div class="row">
	<div class="col-md-10">
		<input type="text" class="form-control span10" placeholder="发微博" placeholder="Text input" name="post">	
	</div>
</div>
<div class="row">
  	<div class="col-md-offset-9 col-md-1">
  		<button type="submit" class="btn btn-success"><i class="icon-comment icon-white"></i>发言</button>
  	</div>
</div>
    
    
 

</form>
